{{> header/header }}

<main role="main" id="MainContent">

  <nav style="height: 0px; " class="filter-navbar ">
    <div class="categories-wrapper">
      <div class="categories-container">
      </div>
    </div>
  </nav>

  <div class="container">

    <div class="row marginTop20 borderBottomGray">
      <div class="col m12">
        <h6>Select Category:</h6>
        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger btn marginTop20' href='#!' data-target='dropdown1'>All Categories<i
            class="fas fa-caret-down marginLeft10"></i></a>

        <!-- Dynamically Populate Dropdown -->
        <ul id='dropdown1' class='dropdown-content'>
          <li class="btn btn-small" data-category="Technology"><a class="" href="#!"><i class="fas fa-digital-tachograph" style="margin:0px; font-size:.90em"></i>Technology</a></li>
          <li class="btn btn-small" data-category="Sports"><a href="#!"><i class="fas fa-futbol" style="margin:0px; font-size:.90em"></i>Sports</a></li>
          <li class="btn btn-small" data-category="Cars"><a href="#!"><i class="fas fa-car" style="margin:0px; font-size:.90em"></i>Cars</a></li>
          <li class="btn btn-small" data-category="Leisure"><a href="#!"><i class="fas fa-umbrella-beach" style="margin:0px; font-size:.90em"></i>Leisure</a></li>
          <li class="btn btn-small" data-category="Fashion"><a href="#!"><i class="fas fa-tshirt" style="margin:0px; font-size:.90em"></i>Fashion</a></li>
          <li class="btn btn-small" data-category="Education"><a href="#!"><i class="fas fa-graduation-cap" style="margin:0px; font-size:.90em"></i>Education</a></li>
          <li class="btn btn-small" data-category="Lifestyle"><a href="#!"><i class="fas fa-smile" style="margin:0px; font-size:.90em"></i>Lifestyle</a></li>
          <li class="btn btn-small" data-category="Home Goods"><a href="#!"><i class="fas fa-home" style="margin:0px; font-size:.90em"></i>Home Goods</a></li>
        </ul>
        <!-- <li class="btn btn-small"><a href="#">Politics</a></li>
            <li class="btn btn-small"><a href="#">Retail</a></li>
            <li class="btn btn-small"><a href="#">Politics</a></li>
            <li class="btn btn-small"><a href="#">Nature</a></li> -->
        </ul>

        <!-- Popular Categories -->
        <div class="popularCategories paddingTop20">
          <h6><i class="fas fa-clock marginRight8" style="color:#737373"></i>Recently Viewed</h6>
          <ul class="categories">
            {{!--<li class="btn btn-small popular"><a href="#">All</a></li>
            <li class="btn btn-small popular"><a href="#">Cars</a></li>
            <li class="btn btn-small popular"><a href="#">Leisure</a></li>
            <li class="btn btn-small popular"><a href="#">Education</a></li>
            <li class="btn btn-small popular"><a href="#">Lifestyles</a></li> --}}
          </ul>
        </div>

      </div>
    </div>

    <div class="gallery gallery-masonry row">
      {{#each product}}
      <div class="col s12 m4 gallery-item gallery-expand gallery-filter gallery-fillscreen" data-id="{{this.id}}"
        data-section-type="product" data-tag="fillscreen">
        <div class="gallery-curve-wrapper">
          <a class="gallery-cover gray">
            <img src="{{this.image}}" alt="{{this.name}}" data-product-featured-image="" />
          </a>

          <div class="gallery-header">
            <span class="title"><strong>{{this.name}}</strong></span>
            <div class="product-ratings-price">
              <span class="price" data-product-price="">
                ${{this.price}}
              </span>
            </div>
          </div>
          {{> actions/viewProduct this}}
        </div>
        {{/each}}
      </div>
    </div>
    </div>
</main>

{{> footer/footer }}